<link rel="stylesheet" href="main.css">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@200;400&display=swap" rel="stylesheet">
</head>
<div id="king">

    <div id="shadow"></div>
    <div id="cont">
        <h1>Hover me</h1>
        <p>
            I have created an effect where a background element moves in response to mouse movement. As you move the mouse within the project area, the background element smoothly follows the movements.
        </p>
    </div>
</div>
<script src="main.js"></script>