<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" href="style1.css" />
    </head>
<body>
    <div class='example'>
        <nav>
            <ul id="nav">
                <li><a href='' class='mark'>Файлы</a><i class='triangle'></i>
                	<ul class='sub-nav'>
                		<li><a href='#'>Открыть</a></li>
                		<li><a href='#'>Закрыть</a></li>
                		<li><a href='#'>Закончить работу</a></li>
                	</ul>
                </li>
                <li><a href='' class='mark'>Учеба</a><i class='triangle'></i>
                	<ul class='sub-nav'>
                		<li><a href='#'>Отметка посещений</a></li>
                		<li><a href='#'>Выдача заданий</a></li>
                		<li><a href='#'>Проверка заданий</a></li>
                		<li><a href='#'>Регистрация</a></li>
                	</ul>
                </li>
                <li><a href='' class='mark'>Отчеты</a><i class='triangle'></i>
                	<ul class='sub-nav'>
                		<li><a href='#'>Успеваемость</a></li>
                		<li><a href='#'>Успеваемость</a></li>
                		<li><a href='#'>Посещение</a></li>
                		<li><a href='#'>Пунк1</a></li>
                	</ul>
                </li>
                <li><a href='' class='mark'>Справочники</a><i class='triangle'></i>
                	<ul class='sub-nav'>
                		<li><a href='#'>Группы</a></li>
                		<li><a href='#'>Преподаватели</a></li>
                		<li><a href='#'>Компетенции</a></li>
                		<li><a href='#'>Студенты</a></li>
                		<li><a href='#'>Дисциплины</a></li>
                	</ul>
                </li>
                <li><a href='' class='mark'>Администрирование</a><i class='triangle'></i>
                	<ul class='sub-nav'>
                		<li><a href='#'>Изменить меню</a></li>
                		<li><a href='#'>Изменить справочник</a></li>
                		<li><a href='#'>Сменить стиль</a></li>
                		<li><a href='#'>Редактировать стиль</a></li>
                		<li><a href='#'>Добавить стиль</a></li>
                	</ul>
                </li>
            </ul>
        </nav>
    </div>
</body>
</html>